
%SystemDrive%/ProgramData/Microsoft/Windows/Caches/cversions.2.db
%SystemDrive%/ProgramData/Microsoft/Windows/Caches/{46025138-478B-4EF6-B06F-4C86EABFEEFC}.2.ver0x0000000000000001.db
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/ADAC-traffic.iml
%SystemDrive%/ProgramData/Microsoft/Windows/Caches/{DDF571F2-BE98-426D-8288-1A9A39C3FDA2}.2.ver0x0000000000000001.db
%SystemDrive%/ProgramData/Microsoft/Windows/Caches/{A329F9E7-6899-4A58-B17A-EFD6A5263BB7}.2.ver0x0000000000000001.db
%SystemDrive%/ProgramData/Microsoft/Windows/Caches/{6AF0698E-D558-4F6E-9B3C-3716689AF493}.2.ver0x0000000000000001.db
